
.filme-info{
  margin: 0 auto;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 8px;
}

.filme-info h1{
  margin: 14px 0;
}

.carregando-img {
  display: flex;
  width: 800px;
  max-width: 100%;
  height: 340px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background-color: #e9e0e0;
}

.carregando-img span {
  font-size: 20px;
  color: #777171;
}

.filme-info img{
  border-radius: 8px;
  width: 800px;
  max-width: 100%;
  max-height: 340px;
  object-fit: cover;
}

.filme.info h3{
  margin-top: 14px;
}

.filme-info span{
  margin: 8px 0;
}

.area-buttons button{
  margin-right: 12px;
  margin-top: 14px;
  margin-left: 0;
  font-size: 20px;
  border: 0;
  outline: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

.button.salvo {
  background-color: rgb(56, 206, 56);
  color: #eeeded;
}
.button.salvo:hover {
  background-color: rgb(69, 244, 69);
  color: #fdfdfd;
}

.area-buttons button:hover{
  background-color: rgb(181, 178, 178);
  color: #FFF;
}

.area-buttons a{
  text-decoration: none;
  color: #000;
  transition: all 0.5s;

}

.area-buttons a:hover{
  color: #FFF;
}
